.content {
	@include column(8);
	padding: 2%;
	@include phoneR {
		@include column(12);
	}
	
	& h1 {
		font-size: $basefontsize*2.5;
		text-align: center;
		margin-bottom: 2.5%;
	}
	& h2 {
		font-size: $basefontsize*1.3;
		text-align: center;
		margin-bottom: 2.5%;
		font-style: italic;
	}
	& img {
		display: block;
		max-width: 75%;
		margin: 0 auto;
		margin-bottom: 2.5%;
	}
	& ul {
		margin-bottom: 2.5%;
		& i {
			margin-right: 3%;
			font-weight: bold;
		}
		& li {
			line-height: $baselineheight*2;
			margin-bottom: 1%;
			margin-left: 5%;
			margin-right: 5%;
		}
		& li:nth-child(odd) {
			font-weight: bold;
		}
	}
	& p.bigCTA {
		font-weight: bold;
		font-size: $basefontsize*1.2;
		text-align: center;
	}
	& .disclaimerExitButton input {
		// display: block;
		// width: 40%;
		// margin: 0 auto;
		// padding: 2%;
		// border-radius: 10px;
		// background: $contactFormSubmitBack;
		// color: $contactFormSumbitColor;
		// @include transitionEffectAll(0.5s);
		// text-transform: uppercase;
		// &:hover {
		// 	background: $contactFormSubmitHoverBack;
		// }
		@include submitButtonStylingV1(40%,2%);
	}
}