html(lang="en")
	head
		include ./includes/meta.jade
		include ./includes/links.jade
		include ./includes/scripts.jade 
	body
		.wrapper
			block header
				include ./includes/header.030215.1.jade
			
			.main
				block content
					include ./includes/content.030215.1.jade
				block sidebar
					include ./includes/sidebar.030215.1.jade
			
			block footer
				include ./includes/footer.030215.1.jade