.content
	h1 Is Your Online Appointment Software Too Confusing and Frustrating?
	h2 Spend Less Time Fuming and More Time On The Things You Care About (Like Family, Friends and Business Success)
	img(src="images/openskej-overlay.png", alt="Openskej Calendar",id="contentFocusImage")
	p Most appointment software is either hard to use, requires you to download "extra" software or wrangle yet another calendar somewhere else to pencil things in. (Meaning you have two or more calendars to juggle instead of one.)
	p Openskej is none of those things, aiming to provide a simple, fast and modern answer to booking business or personal appointments.
	p Here's what else Openskej offers you:
	
	ul
		li
			i.fa.fa-angle-right
			| Do you hate phone and email tag? (You and your client or friend can 
			span.crimsonWords settle on a meeting date without trading calls and emails 
			| for days or weeks on end.)
		li 
			i.fa.fa-angle-right
			|Your customers, friends or family can book an appointment with you 24/7 so you 
			span.crimsonWords never miss new business. 
			| (You always have the final say of when or who you meet and you can even prevent last minute bookings at the push of a button.)
		li 
			i.fa.fa-angle-right
			|Block out times you don't want to meet. People see when you're available 
			span.crimsonWords without exposing your other meetings 
			| details. (Just make sure you do this one important thing...)
		li 
			i.fa.fa-angle-right
			| And more...
	
	p These are just a few of the things Openskej offers you if you lean heavily on Google Calendar and use it in your day job, business or personal life.
	p Right now, you can grab and try out Openskej for 50% off the regular price because I want to rapidly scale the business.

	p.bigCTA Call (647) 872-2167 now or fill out the form to try the free demo.
	p
		span P.S.  
		| This offer is only 
		span.yellowHighlight available for a limited time
		| .  Likely a year from now the price will rise and you'll have missed your chance.  Try out Openskej today!
