.footer
	ul
		li
			a(href="index.html") Home
			a(href="terms.html") Terms &amp; Conditions
			a(href="privacy.html") Privacy Policy
			a(href="contact.html") Contact
			a(href="https://www.openskej.com/") Learn More