link(rel="stylesheet", href="./css/bootstrap.min.css")
link(rel="stylesheet", href="./css/flat-ui.min.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
link(href="./css/style.css", rel="stylesheet", type="text/css")
//- link(href="http://fonts.googleapis.com/css?family=Lato:700", rel="stylesheet", type="text/css")
//- //- link(href="http://fonts.googleapis.com/css?family=Lato", rel="stylesheet", type="text/css")
link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
link(href="http://fonts.googleapis.com/css?family=Amaranth", rel="stylesheet", type="text/css")
link(href="http://fonts.googleapis.com/css?family=Droid+Sans", rel="stylesheet", type="text/css")
//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
//- link(rel="stylesheet", type="text/css", href="./css/jquery.fancybox.css")

//- ===================================
//- IMAGE SLIDER
//- ===================================
//- // jQuery library (served from Google)
//- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
//- // bxSlider Javascript file
//- script(src="/js/jquery.bxslider.min.js")
// bxSlider CSS file
//- link(href="./css/jquery.bxslider.css", rel="stylesheet")
//- END IMAGE SLIDER