//- ===================================
//- HEADER
//- ===================================

mixin logoBlockEx1
	.logoDiv
		//- .divPlaceholder
		.logoContainer
			img(src="http://lorempixel.com/200/200", alt="Client Logo")
			img(src="http://lorempixel.com/200/200", alt="Client Logo")
			img(src="http://lorempixel.com/200/200", alt="Client Logo")
		//- .divPlaceholder

//- ===================================

section.logoSection
	h2 Clients Include...
	+logoBlockEx1
	+logoBlockEx1