.content(style='width:95%')
	h2 Thank You For Contacting Us
	p We'll get back to you shortly to discuss your project in detail.
	//- p Please check your email inbox for a confirmation message. (It may accidentally have ended up in your junk or spam folder.)
	p You will be redirected back to the previous page in 10 seconds.
